{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block body %}
<div class="section">
    <h1 class="heading">SpaceAPI</h1>
        <p class="article-text">Welcome to the SpaceAPI Web Application. The objective of this site
        is to use data provided from various resources to show you interesting
        space images and information.
        </p>
</div>

<div class="section">
    <h3 class="subheading">International Space Station (ISS)</h3>
    <p>Find out about where the ISS is located now
    and who are the people on board right now!
    </p>
    <button class="home-button">ISS</button>
</div>

<div class="section">
    <h3 class="subheading">Aurora Borealis</h3>
    <p>Interested in the pheonmenon that is the Aurora Borealis? Find out where
    the aurora hunting spots are located and view images taken from aurora cameras across the world!
    </p>
    <button class="home-button">Aurora</button>
</div>

<div class="section">
    <h3 class="subheading">Mars Weather</h3>
    <p>Mars is one for the most talked about planets, and everyone expects it to be the next
    planet to be inhabitated by humans. Find out what kind of weather you should prepare for!
    </p>
    <button class="home-button">Mars Weather</button>
</div>

<div class="section">
    <h3 class="subheading">News and Blogs</h3>
    <p>Find out the latest news, discoveries, theories, and conversations by reading some space-
    related blogs and articles!
    </p>
    <button class="home-button">Blogs</button>
</div>

{% endblock %}